
body {
    background-color: navy;
        
    box-sizing: border-box;
}

.main {
    display: block;
    margin: auto;
    height: 20rem;
    width: 20rem;
    background-color: grey;
    margin-top: 20rem;
}

#number{
    position: relative;
    display: block;
    margin: auto;
    width: 70%;
}

#convert-btn {
    position: relative;
    display: block;
    margin: auto;
    width: 72%;
}

#output{
    width: 50%;
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 40px;
}